Checks: >
    -*,
    bugprone-*,
    modernize-*,
    readability-*,
    cppcoreguidelines-*,
    performance-*,
    -modernize-use-trailing-return-type,

HeaderFilterRegex: '(src|apps|tests)/.*'

WarningsAsErrors: ''
